[submodule "/home/kurka/.vim/bundle/Vundle.vim"]
	path = /home/kurka/.vim/bundle/Vundle.vim
	url = https://github.com/VundleVim/Vundle.vim.git
[submodule ".vim/bundle/vim-snipmate"]
	path = .vim/bundle/vim-snipmate
	url = https://github.com/garbas/vim-snipmate
[submodule ".vim/bundle/bufexplorer.zip"]
	path = .vim/bundle/bufexplorer.zip
	url = https://github.com/vim-scripts/bufexplorer.zip
[submodule ".vim/bundle/nerdtree"]
	path = .vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree
[submodule ".vim/bundle/ack.vim"]
	path = .vim/bundle/ack.vim
	url = https://github.com/mileszs/ack.vim
[submodule ".vim/bundle/ag.vim"]
	path = .vim/bundle/ag.vim
	url = https://github.com/rking/ag.vim
[submodule ".vim/bundle/ctrlp.vim"]
	path = .vim/bundle/ctrlp.vim
	url = https://github.com/ctrlpvim/ctrlp.vim
[submodule ".vim/bundle/mru.vim"]
	path = .vim/bundle/mru.vim
	url = https://github.com/vim-scripts/mru.vim
[submodule ".vim/bundle/open_file_under_cursor.vim"]
	path = .vim/bundle/open_file_under_cursor.vim
	url = https://github.com/amix/open_file_under_cursor.vim
[submodule ".vim/bundle/vim-indent-object"]
	path = .vim/bundle/vim-indent-object
	url = https://github.com/michaeljsmith/vim-indent-object
[submodule ".vim/bundle/vim-multiple-cursors"]
	path = .vim/bundle/vim-multiple-cursors
	url = https://github.com/terryma/vim-multiple-cursors
[submodule ".vim/bundle/vim-expand-region"]
	path = .vim/bundle/vim-expand-region
	url = https://github.com/terryma/vim-expand-region
[submodule ".vim/bundle/vim-fugitive"]
	path = .vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule ".vim/bundle/goyo.vim"]
	path = .vim/bundle/goyo.vim
	url = https://github.com/junegunn/goyo.vim
[submodule ".vim/bundle/vim-commentary"]
	path = .vim/bundle/vim-commentary
	url = https://github.com/tpope/vim-commentary
[submodule ".vim/bundle/syntastic"]
	path = .vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic
[submodule ".vim/bundle/vim-yankstack"]
	path = .vim/bundle/vim-yankstack
	url = https://github.com/maxbrunsfeld/vim-yankstack
[submodule ".vim/bundle/tlib_vim"]
	path = .vim/bundle/tlib_vim
	url = https://github.com/tomtom/tlib_vim
[submodule ".vim/bundle/vim-addon-mw-utils"]
	path = .vim/bundle/vim-addon-mw-utils
	url = https://github.com/MarcWeber/vim-addon-mw-utils
[submodule ".vim/bundle/vim-flake8"]
	path = .vim/bundle/vim-flake8
	url = https://github.com/nvie/vim-flake8
[submodule ".vim/bundle/vim-gitgutter"]
	path = .vim/bundle/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter
[submodule ".vim/bundle/vim-pug"]
	path = .vim/bundle/vim-pug
	url = https://github.com/digitaltoad/vim-pug
[submodule ".vim/bundle/vim-repeat"]
	path = .vim/bundle/vim-repeat
	url = https://github.com/tpope/vim-repeat
[submodule ".vim/bundle/vim-snippets"]
	path = .vim/bundle/vim-snippets
	url = https://github.com/honza/vim-snippets
[submodule ".vim/bundle/vim-surround"]
	path = .vim/bundle/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule ".vim/bundle/vim-zenroom2"]
	path = .vim/bundle/vim-zenroom2
	url = https://github.com/amix/vim-zenroom2
[submodule ".vim/bundle/vimwiki"]
	path = .vim/bundle/vimwiki
	url = https://github.com/vimwiki/vimwiki
[submodule ".vim/bundle/gruvbox"]
	path = .vim/bundle/gruvbox
	url = https://github.com/morhetz/gruvbox
[submodule ".vim/bundle/lightline.vim"]
	path = .vim/bundle/lightline.vim
	url = https://github.com/itchyny/lightline.vim
[submodule ".vim/bundle/peaksea"]
	path = .vim/bundle/peaksea
	url = https://github.com/vim-scripts/peaksea
[submodule ".vim/bundle/vim-colors-solarized"]
	path = .vim/bundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized
[submodule ".vim/bundle/vim-irblack"]
	path = .vim/bundle/vim-irblack
	url = https://github.com/wgibbs/vim-irblack
[submodule ".vim/bundle/mayansmoke"]
	path = .vim/bundle/mayansmoke
	url = https://github.com/vim-scripts/mayansmoke
[submodule ".vim/bundle/vim-pyte"]
	path = .vim/bundle/vim-pyte
	url = https://github.com/therubymug/vim-pyte
[submodule ".vim/bundle/vim-colorschemes"]
	path = .vim/bundle/vim-colorschemes
	url = https://github.com/flazz/vim-colorschemes
[submodule ".vim/bundle/vim-coffee-script"]
	path = .vim/bundle/vim-coffee-script
	url = https://github.com/kchmck/vim-coffee-script
[submodule ".vim/bundle/vim-less"]
	path = .vim/bundle/vim-less
	url = https://github.com/groenewege/vim-less
[submodule ".vim/bundle/vim-bundle-mako"]
	path = .vim/bundle/vim-bundle-mako
	url = https://github.com/sophacles/vim-bundle-mako
[submodule ".vim/bundle/vim-markdown"]
	path = .vim/bundle/vim-markdown
	url = https://github.com/tpope/vim-markdown
[submodule ".vim/bundle/nginx.vim"]
	path = .vim/bundle/nginx.vim
	url = https://github.com/vim-scripts/nginx.vim
[submodule ".vim/bundle/vim-go"]
	path = .vim/bundle/vim-go
	url = https://github.com/fatih/vim-go
[submodule ".zsh-external-plugins/zsh-autosuggestions"]
	path = .zsh-custom/plugins/zsh-autosuggestions
	url = git://github.com/zsh-users/zsh-autosuggestions
[submodule ".zsh-external-plugins/zsh-syntax-highlighting"]
	path = .zsh-custom/plugins/zsh-syntax-highlighting
	url = git://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule ".oh-my-zsh"]
	path = .oh-my-zsh
	url = git://github.com/robbyrussell/oh-my-zsh.git
[submodule ".zsh-custom/plugins/zsh-history-substring-search"]
	path = .zsh-custom/plugins/zsh-history-substring-search
	url = https://github.com/zsh-users/zsh-history-substring-search
